<stylesheet>
	<style id="LabelWelcome" posn="-10 10"  size="57 8" style="TextTitle3" textfont="GameFontExtraBold" textsize="4" sizen="40 5"/>
	<style id="LabelActivity" posn="-10 3" sizen="56 10" style="TextTitle2" textfont="GameFontRegular"/>		
	<style class="InfoText" style="TextTitle2" pos="-45 0" size="80 5" textfont="GameFontRegular"/>
	<style id="M_Medal1 M_Medal2 M_Medal3 M_Medal4 M_Medal5 M_Medal6 M_Medal7 M_Medal8 M_Medal9 M_Medal10 M_Medal11 M_Medal12 M_Medal13 M_Medal14 M_Medal15" style="MedalsBig" substyle="MedalSlot" pos="88 33" z-index="25" size="10 10"/> 	
	<style id="M_Name1 M_Name2 M_Name3 M_Name4 M_Name5 M_Name6 M_Name7 M_Name8 M_Name9 M_Name10 M_Name11 M_Name12 M_Name13 M_Name14 M_Name15" sizen="50 6" textfont="GameFontSemiBold" textsize="3" valign="center2" textemboss="1" pos="27 37.6"/>
	<style id="M_SP1 M_SP2 M_SP3 M_SP4 M_SP5 M_SP6 M_SP7 M_SP8 M_SP9 M_SP10 M_SP11 M_SP12 M_SP13 M_SP14 M_SP15" style="TextRaceChronoOfficial" textsize="2.8" valign="center2" z-index="10"/>	
	<style id="M_PlatformRecord1 M_PlatformRecord2 M_PlatformRecord3 M_PlatformRecord4 M_PlatformRecord5" textemboss="1" textsize="2.5" valign="center2" pos="28 26.7"  z-index="10" textfont="GameFontRegular"/>	
	<style id="M_Icon1 M_Icon2 M_Icon3 M_Icon4 M_Icon5 M_Icon6 M_Icon7 M_Icon8 M_Icon9 M_Icon10 M_Icon11 M_Icon12 M_Icon13 M_Icon14 M_Icon15" keepratio="Clip" size="18 17.3" bgcolor="000" pos="4 41.6"/>
	<style id="M_Main1 M_Main2 M_Main3 M_Main4 M_Main5 M_Main10 M_Main6 M_Main8 M_Main7 M_Main9 M_Main11 M_Main12 M_Main13 M_Main14 M_Main15" size="102 24" style="UICommon128_1" substyle="BgFrame1" pos="0 45" z-index="-25" opacity="0.8"/>
	
	<style class="MapNameBg" pos="18 42" z-index="-2" size="80 8"  opacity="0.7" substyle="BgToolTilted" style="UICommon128_1" modulatecolor="000000FF"/>
	<style class="MapScoreBg" pos="19 30" z-index="-2" size="20 6"  opacity="0.7" substyle="BgToolTilted" style="UICommon128_1" modulatecolor="4D4D4DFF" />
	<style id="MapMedal" style="MedalsBig" substyle="MedalSlot" pos="87.75 33.25" z-index="25" size="10.5 10.5"/> 	
	<style id="Zamocek0" pos="13 42" z-index="3" size="14 14" style="UICommon64_1" substyle="PadlockLocked_light" scriptevents="1" halign="center"/>
	<style class="MapLockedLabel" pos="13 29" z-index="0" size="18 5" translate="1" textsize="2" halign="center" style="TextTitle2"/>

	<style style="CardButtonMediumXL" size="76 12" class="ModernButton" scale="1.46"/>
	<style class="ModernIcon" size="10 10" z-index="1" pos="1 -1"/>
	<style class="ModernButtonText" size="55 12" textcolor="FFF" opacity="0.8"  pos="17 -6" z-index="1" style="TextButtonNav" halign="left" valign="center2" textsize="2.5"/>
</stylesheet>
	
<frame z-index="-1" id="FrameMenuCommon" >	
	<quad posn="-160 0.5" sizen="80.7 200" z-index="-5"  substyle="" valign="center" bgcolor="272727FF" opacity=".6"/>
	<quad posn="-161 90" sizen="82 34" z-index="-4"  style="UICommon128_1" substyle="BgDialogTitle"  opacity=".8" valign="top" hidden="1"/>
	
	<frame pos="-158 -68.75">
		<quad class="ModernIcon" style="UICommon64_1" substyle="ArrowLeftSlim_light"/>
		<label class="ModernButton" id="xko" scriptevents="1"/>
		<label class="ModernButtonText" text="Back" translate="1" />
	</frame>
</frame>


<frame id="FrameProfile" hidden="">
	<frame id="MainPanel" z-index="-4" pos="-130 70.5">				
		<quad style="UICommon64_2"  sizen="16 16" pos="-28 12" substyle="Edit_light"/>
		<label id="LabelWelcome" text="Settings" posn="-10 10" sizen="56 8" translate="1"/>
		<label id="LabelActivity" text="Personal Settings and Data" posn="-10 3" sizen="56 10" translate="1" autonewline="1"/>
	</frame>	
	
	<frame id="FrameSettings" pos="41 0" scale="1">
		<label pos="0 47" z-index="0" size="90 5" text="Settings" translate="1" halign="center" textfont="GameFontExtraBold" style="TextTitle3" textsize="3"/>
		<quad z-index="-9" size="100 10" style="UICommon128_1" substyle="BgDialogTitle" halign="center" pos="0 50"/>
		
		<frame pos="0 30">
		<label class="InfoText" text="Enable speedometer" translate="1"/>
		<quad z-index="0" size="10 10" substyle="Import_light" style="UICommon64_1" scriptevents="1" halign="center" valign="center" pos="40 -2"/>
		</frame>
		
		<frame pos="0 20">
		<label class="InfoText" text="Play custom music" translate="1"/>
		<quad z-index="0" size="10 10" substyle="Parameters_light" style="UICommon64_1" scriptevents="1" halign="center" valign="center" pos="40 -2"/>
		</frame>
		
		
		<frame pos="0 -40">
		<label class="InfoText" text="(???)" translate="1" textsize="3" halign="right" pos="34 0" size="40"/>
		<label class="InfoText" text="Change horn" translate="1" id="HornNameLabel" size="40"/>
		<quad z-index="0" size="10 10" substyle="Parameters_light" style="UICommon64_1" scriptevents="1" halign="center" valign="center" pos="40 -2"/>
		</frame>
		
		<quad z-index="-10" size="100 100" style="UICommon128_1" substyle="BgDialog" halign="center" valign="center" pos="0 0"/>
	</frame>
	
	<frame id="ModernMenu" pos="-158 40">
		<frame pos="0 0">
			<quad class="ModernIcon" style="UICommon64_1" substyle="LightSettings_light"/>
			<label class="ModernButton" text=" " id="GraphicSettingsBTN" scriptevents="1"/>
			<label class="ModernButtonText" text="Graphic Settings" translate="1" />
		</frame>
		
		<frame pos="0 -16">
			<quad class="ModernIcon" style="UICommon64_1" substyle="SteeringWheel_light"/>
			<label class="ModernButton" text=" " id="InputSettingsBTN" scriptevents="1"/>
			<label class="ModernButtonText" text="Input Settings" translate="1" />
		</frame>
		
		<frame pos="0 -32">
			<quad class="ModernIcon" style="UICommon64_1" substyle="Mediatracker_light"/>
			<label class="ModernButton" text=" " id="StereoscopyBTN" scriptevents="1"/>
			<label class="ModernButtonText" text="Stereoscopy" translate="1" />
		</frame>	
	</frame>
	
</frame>